div.divCalendari {
  display: grid;
  grid-template-columns: repeat(7, 0.2fr);
  grid-template-rows: repeat(5, 0.2fr);
  width: 50%;
  margin: auto;
}

div.divDia {
  background-color: rgba(177, 241, 241, 0.733);
  margin: 7%;
  height: 100px;
  border: 2px solid rgba(124, 124, 124, 0.541);
}

div.divDiesSetmana {
  background-color: rgba(177, 241, 241, 0.733);
  margin: 7%;
  line-height: 0.5;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.747);
}
